body{
  padding: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}
img {
  width: 50px;
}

header{
    border: 1px solid black;
    background-color: lightseagreen;
}

/* Listing demo */

.list img{
    width: 100%;
}