@media screen and (max-width: 600px) {
  .main-head .main-nav {
    display: none;
  }

  .hero-head .wrapper {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hero-head .wrapper h1,
  .hero-head .wrapper .goal {
    float: none;
  }

  .hero-head .wrapper h1 {
    font-size: 46px;
    line-height: 2;
    margin: 0 0 40px;
  }
  .hero-head .wrapper .goal {
    max-width: unset;
  }

  /* General content-section styles */
  .content {
    padding: 64px 16px;
  }

  .content .wrapper {
    width: auto;
  }
  .content-wrap {
    margin-top: unset;
  }
  .content-wrap.two-col {
    flex-wrap: wrap;
  }
  .content-wrap.two-col .col {
    flex-basis: 100%;
  }
  /* First section */

  .content.bordered .content-wrap.two-col .col {
    text-align: center;
    margin-right: 0px;
  }

  .content.bordered .content-wrap.two-col .col:first-child {
    margin-bottom: 64px;
  }

  .content.bordered .content-wrap.two-col .col a {
    width: 100%;
  }
  .content.bordered .content-wrap.two-col .col h3 {
    margin-top: unset;
  }

  /* Footer */
  .main-foot .wrapper {
    width: unset;
    flex-direction: column;
    text-align: center;
    gap: 12px;
  }
  .main-foot address, .main-foot nav{
    margin: 0;
  }
  .main-foot .bottom .copyright{
    float: none;
  }
}
