@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#welcomeSection {
  background-color: #256d1b;
  padding: 20px 50px;
}

#welcomeSection h1 {
  text-align: center;
  color: white;
  font-family: "Roboto";
}

#welcomeSection p {
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  font-family: "Roboto";
}

#articlesSection {
  background-color: #149911;
  padding: 10px 20px;
}

#articlesSection .title {
  text-align: center;
  color: white;
}

#articlesSection #articleList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#articlesSection #articleList .articleItem {
  background-color: #256d1b;
  padding: 8px 4px;
  border-radius: 6px;
  margin-bottom: 12px;
}

#articleList .articleItem .mainArticle .articleHeader{
    text-align: center;
    color: #1EFC1E;
}

#articleList .articleItem .mainArticle .articleInfo{
    font-size: 12px;
    color: white;
}

#articlesSection p{
    color: red;
}

