img {
  width: 100%;
}

.card {
  width: 50vw;
  border: 1px solid black;
  -webkit-box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  overflow: hidden;
}

.card > div {
  padding: 0 1rem 0.5rem 1rem;
}
